:root{/* pseudoclass to define variable */
    --antiquewhite: #FFA74A; /* variable */
}

html, body{ /* reponsivity */
    display:flex; 
    flex-direction:column;
    justify-content: center;
    background-color: #005270;
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
    max-height: 100vh;
}

header{
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
}

h1{ /* title */
    font-family: 'Courier New', Courier, monospace;
    color: #FAEBD7;
}

main{ /* center things */
    display: flex;
    justify-content: center;
}

#diamond{ /* used to control the SVG  */
    width: 300px;
    stroke: var(--antiquewhite);
    stroke-width: 10px;
    fill: var(--antiquewhite);
    stroke-dasharray: 1363;
    stroke-dashoffset: 1363;
    fill: none;
    animation: 3s linear forwards line;
}

#letterG{ /* to control only the letter G */
    width: 280px;
    stroke:none;
    fill:var(--antiquewhite);
    animation: 3.5s ease forwards G;
    font-family: Arial; 
    font-size: 325px;
}

@keyframes line { /* defining the animation from start 0% to end 100% */
    0%{stroke-dashoffset: 1363; fill-opacity: 0%;}
    50%{stroke-dashoffset: 0; fill-opacity: 0%;}
    100%{stroke-dashoffset: 0;fill-opacity: 100%;}
}
