:root{
    --antiquewhite: #FFA74A;
}

html, body{
    display:flex; 
    flex-direction:column;
    background-color: #005270;
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
    max-height: 100vh;
}

header{
    margin-top: auto;
    margin-bottom: 0;
    text-align: center;
}

h1{
    font-family: 'Courier New', Courier, monospace;
    color: #FAEBD7;
}

main{
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#diamond{
    width: 500px;
    translate: 150px;
    stroke: var(--antiquewhite);
    stroke-width: 10px;
    fill: var(--antiquewhite);
    stroke-dasharray: 1363;
    stroke-dashoffset: 1363;
    fill: none;
    animation: 1.5s linear forwards line;
}

#letterG{
    width: 280px;
    translate: -245px;
    stroke: var(--antiquewhite);
    stroke-width: 1px;
    fill:var(--antiquewhite);
    animation: 3.5s ease forwards G;
    font-family: Helvetica; 
    font-size: 325px;
}

@keyframes line {
    0%{stroke-dashoffset: 1363;}
    100%{stroke-dashoffset: 0;}
}

@keyframes G {
    0%{opacity: 0%;}
    50%{opacity: 0%;}
    100%{opacity: 100%;}
}
